In [12]:
#pip install spacy-langdetect -q

#nltk.download('words')

WARNING: You are using pip version 21.3.1; however, version 22.0.4 is available.
You should consider upgrading via the '/home/ccal0507/anaconda3/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd 
import numpy as np

import re
import nltk

import spacy
from spacy_langdetect import LanguageDetector

In [2]:
df = pd.read_csv('genre_lyrics.csv')
df.head(3)

,artist,title,lyrics,genre
0,Dolly Parton,9 to 5,9 to 5 Lyrics\nTumble outta bed and stumble to...,country
1,Taylor Swift,Nothing New (Taylor's Version) [From the Vault],Nothing New (Taylor’s Version) Lyrics\nThey t...,country
2,Maren Morris,My Church,My Church Lyrics\nI’ve cussed on a Sunday\nI’v...,country

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3125 entries, 0 to 3124
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   artist  3125 non-null   object
 1   title   3125 non-null   object
 2   lyrics  3125 non-null   object
 3   genre   3125 non-null   object
dtypes: object(4)
memory usage: 97.8+ KB

In [4]:
# Removing any duplicates 
df = df.drop_duplicates().reset_index()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2678 entries, 0 to 2677
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   2678 non-null   int64
 1   artist  2678 non-null   object
 2   title   2678 non-null   object
 3   lyrics  2678 non-null   object
 4   genre   2678 non-null   object
dtypes: int64(1), object(4)
memory usage: 104.7+ KB

In [5]:
df['artist'] = df['artist'].str.lower()
df['title'] = df['title'].str.lower()
df['lyrics'] = df['lyrics'].str.lower()
df['genre'] = df['genre'].str.lower()
df

,index,artist,title,lyrics,genre
0,0,dolly parton,9 to 5,9 to 5 lyrics\ntumble outta bed and stumble to...,country
1,1,taylor swift,nothing new (taylor's version) [from the vault],nothing new (taylor’s version) lyrics\nthey t...,country
2,2,maren morris,my church,my church lyrics\ni’ve cussed on a sunday\ni’v...,country
3,3,bob dylan,the times they are a-changin',the times they are a-changin’ lyricscome gathe...,country
4,4,harry styles,girl crush,girl crush lyrics\ni got a girl crush\ni hate ...,country
...,...,...,...,...,...
2673,2847,alina baraz,electric,"electric lyrics\ndarker than the ocean, deeper...",r-b
2674,2848,bts,intro: singularity,intro: singularity lyrics방탄소년단 v 의 intro: sing...,r-b
2675,2849,dej loaf,me u & hennessy,me u & hennessy lyrics\ncan we stay home tonig...,r-b
2676,2850,one direction,infinity,infinity lyrics\ndown to earth\nkeep on fallin...,r-b
2677,2851,ariana grande,​six thirty,"​six thirty lyrics\nah, hey, yeah\n\ni know i ...",r-b

In [6]:
words = set(nltk.corpus.words.words())

In [6]:
def clean_lyrics(test_str):
    
    test_str = str(test_str)
    # 0) Removing apostrophes for tokenization purposes
    test_str = test_str.lower().replace("'", "")
    
    # 1) Removing unecessary textual data 
    res = re.search(r'lyrics' , test_str)
    emb_res = re.search(r'\d*embed$', test_str)

    test_str = test_str[res.end():emb_res.start()]

    # 2) Removing any punctuation (except parantheses)
    test_str = re.sub(r'[.,\-?:!;]', '', test_str)
    
    test_str = test_str.replace("\n", " ")
    
    #test_str_out = " ".join(w for w in nltk.wordpunct_tokenize(test_str) if w.lower() in words)
    
    return test_str #_out

df['lyrics'] = df['lyrics'].apply(clean_lyrics)

In [7]:
df

,index,artist,title,lyrics,genre
0,0,dolly parton,9 to 5,tumble outta bed and stumble to the kitchen p...,country
1,1,taylor swift,nothing new (taylor's version) [from the vault],"they tell you while youre young ""girls go out...",country
2,2,maren morris,my church,i’ve cussed on a sunday i’ve cheated and i’ve...,country
3,3,bob dylan,the times they are a-changin',come gather round people wherever you roam and...,country
4,4,harry styles,girl crush,i got a girl crush i hate to admit it but i g...,country
...,...,...,...,...,...
2673,2847,alina baraz,electric,darker than the ocean deeper than the sea you...,r-b
2674,2848,bts,intro: singularity,방탄소년단 v 의 intro singularity 가사 무언가 깨지는 소리 난 문...,r-b
2675,2849,dej loaf,me u & hennessy,can we stay home tonight try something new to...,r-b
2676,2850,one direction,infinity,down to earth keep on falling when i know it ...,r-b
2677,2851,ariana grande,​six thirty,ah hey yeah i know i be on some bullshit kno...,r-b

In [17]:
from spacy.language import Language
from spacy_langdetect import LanguageDetector

def get_lang_detector(nlp, name):
    return LanguageDetector()

nlp = spacy.load("en_core_web_sm")
Language.factory("language_detector", func=get_lang_detector)
nlp.add_pipe('language_detector', last=True)

#nlp = spacy.load('en_core_web_sm')
#nlp.add_pipe(LanguageDetector(), name='language_detector', last=True)
#nlp.add_pipe('languagedet', name='language_detector', last=True)

In [21]:
def remove_nonenglish(text):
    doc = nlp(text)
    # document level language detection. Think of it like average language of the document!
    english = (doc._.language['language']) == "en"
    # sentence level language detection
    
    if english:
        return text 
    else:
        return 'non-english'

In [28]:
df['lyrics'] = df['lyrics'].apply(remove_nonenglish)

In [29]:
df

,index,artist,title,lyrics,genre
0,0,dolly parton,9 to 5,tumble outta bed and stumble to the kitchen p...,country
1,1,taylor swift,nothing new (taylor's version) [from the vault],"they tell you while youre young ""girls go out...",country
2,2,maren morris,my church,i’ve cussed on a sunday i’ve cheated and i’ve...,country
3,3,bob dylan,the times they are a-changin',come gather round people wherever you roam and...,country
4,4,harry styles,girl crush,i got a girl crush i hate to admit it but i g...,country
...,...,...,...,...,...
2673,2847,alina baraz,electric,darker than the ocean deeper than the sea you...,r-b
2674,2848,bts,intro: singularity,non-english,r-b
2675,2849,dej loaf,me u & hennessy,can we stay home tonight try something new to...,r-b
2676,2850,one direction,infinity,down to earth keep on falling when i know it ...,r-b
2677,2851,ariana grande,​six thirty,ah hey yeah i know i be on some bullshit kno...,r-b

In [32]:
df = df[df['lyrics'] != 'non-english']
df

,index,artist,title,lyrics,genre
0,0,dolly parton,9 to 5,tumble outta bed and stumble to the kitchen p...,country
1,1,taylor swift,nothing new (taylor's version) [from the vault],"they tell you while youre young ""girls go out...",country
2,2,maren morris,my church,i’ve cussed on a sunday i’ve cheated and i’ve...,country
3,3,bob dylan,the times they are a-changin',come gather round people wherever you roam and...,country
4,4,harry styles,girl crush,i got a girl crush i hate to admit it but i g...,country
...,...,...,...,...,...
2672,2846,big pun,still not a player,oh ooh yeah dont wanna be a player (ts) i do...,r-b
2673,2847,alina baraz,electric,darker than the ocean deeper than the sea you...,r-b
2675,2849,dej loaf,me u & hennessy,can we stay home tonight try something new to...,r-b
2676,2850,one direction,infinity,down to earth keep on falling when i know it ...,r-b
2677,2851,ariana grande,​six thirty,ah hey yeah i know i be on some bullshit kno...,r-b

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2561 entries, 0 to 2677
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   2561 non-null   int64
 1   artist  2561 non-null   object
 2   title   2561 non-null   object
 3   lyrics  2561 non-null   object
 4   genre   2561 non-null   object
dtypes: int64(1), object(4)
memory usage: 120.0+ KB

In [37]:
# Removing unecessary index row
df = df.reset_index().drop(columns=['index'])
df

,level_0,artist,title,lyrics,genre
0,0,dolly parton,9 to 5,tumble outta bed and stumble to the kitchen p...,country
1,1,taylor swift,nothing new (taylor's version) [from the vault],"they tell you while youre young ""girls go out...",country
2,2,maren morris,my church,i’ve cussed on a sunday i’ve cheated and i’ve...,country
3,3,bob dylan,the times they are a-changin',come gather round people wherever you roam and...,country
4,4,harry styles,girl crush,i got a girl crush i hate to admit it but i g...,country
...,...,...,...,...,...
2556,2556,big pun,still not a player,oh ooh yeah dont wanna be a player (ts) i do...,r-b
2557,2557,alina baraz,electric,darker than the ocean deeper than the sea you...,r-b
2558,2558,dej loaf,me u & hennessy,can we stay home tonight try something new to...,r-b
2559,2559,one direction,infinity,down to earth keep on falling when i know it ...,r-b
2560,2560,ariana grande,​six thirty,ah hey yeah i know i be on some bullshit kno...,r-b

In [38]:
english_cleaned_df = df.drop(columns=['level_0'])

In [39]:
english_cleaned_df

,artist,title,lyrics,genre
0,dolly parton,9 to 5,tumble outta bed and stumble to the kitchen p...,country
1,taylor swift,nothing new (taylor's version) [from the vault],"they tell you while youre young ""girls go out...",country
2,maren morris,my church,i’ve cussed on a sunday i’ve cheated and i’ve...,country
3,bob dylan,the times they are a-changin',come gather round people wherever you roam and...,country
4,harry styles,girl crush,i got a girl crush i hate to admit it but i g...,country
...,...,...,...,...
2556,big pun,still not a player,oh ooh yeah dont wanna be a player (ts) i do...,r-b
2557,alina baraz,electric,darker than the ocean deeper than the sea you...,r-b
2558,dej loaf,me u & hennessy,can we stay home tonight try something new to...,r-b
2559,one direction,infinity,down to earth keep on falling when i know it ...,r-b
2560,ariana grande,​six thirty,ah hey yeah i know i be on some bullshit kno...,r-b

In [48]:
english_cleaned_df.to_csv('cleaned_genre_lyrics.csv')

In [50]:
english_cleaned_df

,artist,title,lyrics,genre
0,dolly parton,9 to 5,tumble outta bed and stumble to the kitchen p...,country
1,taylor swift,nothing new (taylor's version) [from the vault],"they tell you while youre young ""girls go out...",country
2,maren morris,my church,i’ve cussed on a sunday i’ve cheated and i’ve...,country
3,bob dylan,the times they are a-changin',come gather round people wherever you roam and...,country
4,harry styles,girl crush,i got a girl crush i hate to admit it but i g...,country
...,...,...,...,...
2556,big pun,still not a player,oh ooh yeah dont wanna be a player (ts) i do...,r-b
2557,alina baraz,electric,darker than the ocean deeper than the sea you...,r-b
2558,dej loaf,me u & hennessy,can we stay home tonight try something new to...,r-b
2559,one direction,infinity,down to earth keep on falling when i know it ...,r-b
2560,ariana grande,​six thirty,ah hey yeah i know i be on some bullshit kno...,r-b

In [62]:
nltk.download('stopwords')

from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/ccal0507/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [63]:
stop_words = stopwords.words("english")

In [68]:
stop_words_lst = list(i.replace("'", "") for i in stop_words)

In [72]:
def remove_stopwords(text):
    stop_words = set(stop_words_lst)
    word_tokens = word_tokenize(text)
    
    filtered_str = [w for w in word_tokens if not w.lower() in stop_words]
    
    return ' '.join(filtered_str)

In [77]:
cleaned_df = english_cleaned_df

In [79]:
cleaned_df['lyrics'] = english_cleaned_df['lyrics'].apply(remove_stopwords)

In [80]:
cleaned_df

,artist,title,lyrics,genre
0,dolly parton,9 to 5,tumble outta bed stumble kitchen pour cup ambi...,country
1,taylor swift,nothing new (taylor's version) [from the vault],tell young `` girls go fun '' hunt slay ones a...,country
2,maren morris,my church,’ cussed sunday ’ cheated ’ lied ’ fallen grac...,country
3,bob dylan,the times they are a-changin',come gather round people wherever roam admit w...,country
4,harry styles,girl crush,got girl crush hate admit got heart rush aint ...,country
...,...,...,...,...
2556,big pun,still not a player,oh ooh yeah wan na player ( ts ) wan na player...,r-b
2557,alina baraz,electric,darker ocean deeper sea got everything got nee...,r-b
2558,dej loaf,me u & hennessy,stay home tonight try something new tonight dr...,r-b
2559,one direction,infinity,earth keep falling know hurts going faster mil...,r-b
2560,ariana grande,​six thirty,ah hey yeah know bullshit know driving crazy k...,r-b

In [81]:
cleaned_df.to_csv('cleaned_genre_lyrics.csv', index=False)

In [83]:
cleaned_df.genre.value_counts()

rap        861
r-b        737
pop        610
rock       257
country     96
Name: genre, dtype: int64